@{
    ViewBag.Title = "FileManager";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section CSS_FileManager{
    <link rel="stylesheet" type="text/css" href="/Content/CMSStyles/AdminStyles/FileManager.css" />
}
<script type="text/javascript" src="~/Scripts/Logic/Admin/FileManager.js"></script>
<script type="text/javascript" src="~/Scripts/angular-file-upload.min.js"></script>

<div class="row" ng-app="GDYApp" ng-controller="GDYController">
  <!-- LEFT PANEL-->
  <div class="col-md-6 col-xs-6">
    <div class="col-md-12 col-xs-12 PanelHeader" ng-class="{PanelActive:FileManager.Instance.ActivePanel=='left'}">
      <div class="row">
        <div class="col-md-10 col-xs-10">Actual Path is: {{FileManager.Instance.LeftPanelAbsolutePath}}</div>
        <div class="col-md-2 col-xs-2">
          <div class="row">
            <button class="btn btn-success BackButton" ng-click="FileManager.LeftPanelGoBack();">BACK</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-xs-12 PanelDimensions">
      <div class="row PanelItemInnactive">
        <table>
          <tr ng-repeat="item in FileManager.Instance.LeftPanelList" ng-switch on="item.Type" ng-class="{HighlightedRow:item.Name==FileManager.LeftPanelSelectedName}" ng-click="FileManager.SetLeftPanelSelected(item);" ng-dblclick="FileManager.LeftPanelGoForward(item)">
            <td>
              <div>
                <div class="FileOrFolderIconOrName">
                  <img ng-switch-when="file" src="/Content/CMSStyles/AdminStyles/images/file.png" />
                  <img ng-switch-when="folder" src="/Content/CMSStyles/AdminStyles/images/folder.png" />
                </div>
                <div class="FileOrFolderIconOrName">
                  {{item.Name}}
                </div>
                <div class="SelectionCheckBoxOrFileDownload">
                  <input type="checkbox" ng-model="item.isChecked" />
                </div>
                <div class="SelectionCheckBoxOrFileDownload">
                  <a ng-switch-when="file" href="{{item.WebPath}}"><img src="/Content/CMSStyles/AdminStyles/images/download.png" alt="download"></a>
                </div>
              </div>              
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <!-- RIGHT PANEL-->
  <div class="col-md-6 col-xs-6">
    <div class="col-md-12 col-xs-12 PanelHeader" ng-class="{PanelActive:FileManager.Instance.ActivePanel=='right'}">
      <div class="row">
        <div class="col-md-10 col-xs-10">Actual Path is: {{FileManager.Instance.RightPanelAbsolutePath}}</div>
        <div class="col-md-2 col-xs-2">
          <div class="row">
            <button class="btn btn-success BackButton" ng-click="FileManager.RightPanelGoBack();">BACK</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-xs-12 PanelDimensions">
      <div class="row PanelItemInnactive">

        <table>
          <tr ng-repeat="item in FileManager.Instance.RightPanelList" ng-switch on="item.Type" ng-class="{HighlightedRow:item.Name==FileManager.RightPanelSelectedName}" ng-click="FileManager.SetRightPanelSelected(item);" ng-dblclick="FileManager.RightPanelGoForward(item)">
            <td>
              <div>
                <div class="FileOrFolderIconOrName">
                  <img ng-switch-when="file" src="/Content/CMSStyles/AdminStyles/images/file.png" />
                  <img ng-switch-when="folder" src="/Content/CMSStyles/AdminStyles/images/folder.png" />
                </div>
                <div class="FileOrFolderIconOrName">
                  {{item.Name}}
                </div>
                <div class="SelectionCheckBoxOrFileDownload">
                  <input type="checkbox" ng-model="item.isChecked" />
                </div>
                <div class="SelectionCheckBoxOrFileDownload">
                  <a ng-switch-when="file" href="{{item.WebPath}}"><img src="/Content/CMSStyles/AdminStyles/images/download.png" alt="download"></a>
                </div>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-12 col-xs-12">
    <div class="row">
      <div class="col-md-1 col-xs-1 Bordered ControlFooter">
        <div class="row">
          <button class="btn btn-success LinkBufferButton" ng-click="ToBuffer();">COPY</button>
        </div>
        <div class="row">
          <button class="btn btn-success LinkBufferButton" ng-click="OpenBuffer();">BUFFER</button>
        </div>
      </div>

      <div class="col-md-3 col-xs-3 Bordered ControlFooter">
        <p class="ControlFooterOther">CurrentName:{{FileManager.Instance.SelectedObject.Name}}</p>
      </div>
      <div class="col-md-4 col-xs-4 Bordered ControlFooter">
        <div class="row">
          <span class="btn btn-default btn-file FileUploadContainer">Browse 
            <input type="file" nv-file-select="" uploader="FileUploader">
            <button id="UploadButton" class="btn btn-success" ng-model="UploadFileName" ng-click="Upload();">UPLOAD</button>
          </span>
        </div>
      </div>
      <div class="col-md-4 col-xs-4 Bordered ControlFooter ">
        <div class="CenteredDivWrapper">
            <div class="CenteredDiv">
            <button class="btn btn-success" ng-click="FileManager.ProcessNewDirectoryOperation();">NEW DIR</button>
            <button class="btn btn-success" ng-click="FileManager.ProcessRenameOperation();">RENAME</button>
            <button class="btn btn-success" ng-click="FileManager.ProcessMoveOperation();">MOVE</button>
            <button class="btn btn-danger" ng-click="FileManager.ProcessDeleteOperation();">DELETE</button>
            </div>
        </div>
      </div>
    </div>
  </div>

  @Html.Partial("FileManagerPartial");
  <!-- MODAL ELEMENTS -->

</div>
