@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<pre>
<h2>Welcome to administrator panel</h2>

<h3>Visitors per day: not avaible(wait next release)</h3>

<h3>Visitors per previous month: not avaible(wait next release)</h3>

<h3>Visitors per this month: not avaible(wait next release)</h3>
</pre>