.save-container input[type=checkbox] {
  transform: scale(2.5);
  -webkit-transform: scale(2.5);
}

.save-container #SaveButton {
    float:right;margin-left:10px; margin-top:5px;
}
.save-container label {
    float:right;margin:12px;
}

textarea {
    height:500px;
}

/*Link buffer block*/
.LinkBufferButtonBlock {
    float:left;
}
