.PanelHeader{
    border-style: solid;
    border-width: 1px;
    background-color: #269abc;
}

.Bordered {
    border-style: solid;
    border-width: 1px;
}

.FloatRight {
    float:right;
}
.FloatLeft {
    float:left;
}

.LeftModalButton {
    float:left;
    margin-left:10px;
}
.RightModalButton {
    float:right;
    margin-right:10px;
}

.ControlFooter {
    height:90px;
    background-color:#2DBBEB;
}
.ControlFooterButton {
    margin-top:5px;
}
.ControlFooterOther {
    margin-top:10px;
}

.ControlFooterButtonMargin {
    margin-left:60px;
}
.BackButton {
    float:right;
    margin-right:2px;
}

.CenteredDiv {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.CenteredDivWrapper {
    text-align: center;
    vertical-align:middle;
}

.CenteredDiv {
    display: inline-block;
    margin: 0 auto;
     top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    position: relative !important;   
}




/*
#UploadButton {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    position: relative !important;    
    float:right;
}
*/

.FileUploadContainer {
    width:100%;background-color:#2DBBEB;
}

.LinkBufferButton {
    position: relative !important;    
    width:100%;
    margin-top:5px;
}

.PanelDimensions {
    height:500px;
    overflow-y:scroll;
}

.HighlightedRow {
    background-color:green;
}

.PanelActive {
    background-color:#B3F55D;
}

.PanelItemInnactive {
    background-color: #BCE7F5;
}

.FileOrFolderItem {
    margin-top:10px;
}

.FileOrFolderIconOrName {
    display:inline;width:auto;
}
td div {
    width:100%;
}
.SelectionCheckBoxOrFileDownload {
    width:auto;display:inline;float:right
}


input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  padding: 10px;
  margin:25px;
}
table {
    width:100%;
}



